<% if session[:message] %>
  <p class="message"><%= session.delete(:message) %></p>
<% end %>

<% if session[:message] %>
  <p class="message"><%= session.delete(:message) %></p>
<% end %>

<ul>
  <% @list.each do |item| %>
    <li>
      <a href="/<%= item %>/view"><%= item %></a>  
      <a href="/<%= item %>/edit">Edit</a>  
      <form class="inline" method="post" action="/<%= item %>/delete">
        <button type="submit">delete</button>
      </form>
    </li>
  <% end %>
</ul>

<a href="/new">New Document</a>
